.panelSuperior .jfx-button {
    -fx-background-color: rgb(10,20,50);
    -fx-text-fill:#ffffff;
    -fx-background-radius: 0px;
    -fx-background-insets: 0px;
    -fx-min-width:105px;
    -fx-min-height:55px;
}
.panelSuperior .jfx-button:focused{
    -fx-background-color: rgb(8,64,129);
    -fx-min-width:105px;
    -fx-min-height:55px;
}

.panelSuperior{
    -fx-background-color: rgb(10,20,50);
    -fx-min-width:137px;
    -fx-min-height:57px;
}

.box{
    -fx-background-image: url('../img/Autolujos2000.png');
}